.mainbox{
    background-color: dimgray;
    width: 700px;
    margin: 10px auto;
}

.menu{
    background-color: hotpink;
}

.leftside{
    background-color: aqua;
    width: 100px;
    float:left;
}

.main{
    background-color: dimgray;
    width: 600px;
    float:left;
}

.rightside{
    background-color: red;
    width: 100px;
    float:left;
}

.footer{
    background-color: aqua;
}

.menu{
    height: 90px;
    width: 300px;
    text-align: center;
}

.menu>ul>{
    display:inline;
    padding: 10px 10px 10px 10px ;
    background-color: dimgray;
    position: relative;
    top: 8px;
    font-family: Tahoma, serif;
    font-size: 14px;
}